<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Madhang Apps</title>
</head>
<body>
  <a href="#main" class="skip-link">Skip to Content</a>
  <header class="header">
    <div class="header-title">
      <h1  tabindex="0" class="title">Madhang Apps</h1>
    </div>
    <a id="menuApp" href="#" class="header-menu" aria-label="hamburger">☰</a>
    <nav id="drawerApp" class="navbar">
      <ul class="nav-list">
        <li class="nav-item"><a href="/">Home</a> </li>
        <li class="nav-item"><a href="#">Favorite</a></li>
        <li class="nav-item"><a href="https://github.com/sambalmatah" target="_blank">About Us</a></li>
      </ul>
    </nav>
    
  </header>

  <div class="hero">
    <div class="hero-inner">
      <h1 class="hero-title">Madhang Apps!</h1>
      <p class="hero-tagline">Kalau laper langsung cari aja!</p>
    </div>
  </div>

  <main id="main">
    <section class="content">
      <div class="explore">
        <h2  tabindex="0" class="explore-label">Explore Restaurant</h2>
        <div class="restaurants">
          <div class="listRestaurant" id="listRestaurant"></div>
        </div>
      </div>
    </section>
  </main>

  <footer tabindex="0">
    <p>Copyright 2024 &copy; - Madhang Apps</p>
  </footer>
</body>
</html>
